.sidepanel {
    width: 400px;
    border: none;
    box-shadow: 5px 4px 30px 20px rgba(0, 0, 0, 0.25);

    padding: 20px 40px 49px 40px;

    &_main {

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        margin-top: 49px;
    }

    &_descr {

        font-size: 36px;

    }

    &_items {

        height: 240px;

        display: flex;
        justify-content: center;
        flex-direction: column;

        margin-top: 41px;

    }

    &_item {

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 36px;

    }

    &_item_descr {

        margin-left: 12px;

    }

    &_item_content {
        display: flex;

        justify-content: space-around;
        align-items: center;
        
    }
}